<div class="md:max-w-lg mx-auto rounded-sm">
    <!-- {{this.addForm.value | json}} -->
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="!this.data">เพิ่มรายชื่อผู้ใช้งานระบบ</h1>
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="this.data">แก้ไขข้อมูลผู้ใช้งานระบบ</h1>
    <div mat-dialog-content>
        <form [formGroup]="editForm">
            <div class="-mx-3 md:flex mb-3">
                <div class="md:w-full px-3">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>ชื่อ - นามสกุล</mat-label>
                        <input matInput [placeholder]="'ชื่อ - นามสกุล'" [formControlName]="'name'">
                    </mat-form-field>
                </div>
            </div>
            <div class="-mx-3 md:flex mb-3">
                <div class="md:w-full px-3">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>เบอร์ติดต่อ</mat-label>
                        <input matInput [placeholder]="'เบอร์ติดต่อ'" [formControlName]="'phone'">
                    </mat-form-field>
                </div>
            </div>
            <div class="-mx-3 md:flex mb-3">
                <div class="md:w-full px-3">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>อีเมล</mat-label>
                        <input matInput [placeholder]="'email'" [formControlName]="'email'">
                    </mat-form-field>
                </div>
            </div>
            <div class="-mx-3 md:flex mb-3">
                <div class="md:w-full px-3">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>Password</mat-label>
                        <input matInput [placeholder]="'Password'" [formControlName]="'password'">
                    </mat-form-field>
                </div>
            </div>

            <div class="mb-4 ">
                <label class="block text-md font-medium text-gray-700">ประจำสถานที่โรงงาน</label>
                <div class="grid grid-cols-3">
                    <div class="inline-flex items-center " *ngFor="let item of factory;">
                        <label class="relative flex items-center p-3 rounded-full cursor-pointer" [for]="'factory' + item.id">
                            <input type="checkbox"
                                class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-10"
                                [id]="'factory' + item.id" (change)="addFactory(item.id)"/>
                            <span
                                class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20"
                                    fill="currentColor" stroke="currentColor" stroke-width="1">
                                    <path fill-rule="evenodd"
                                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </span>
                        </label>
                        <label class="mt-px font-light text-gray-700 cursor-pointer select-none" htmlFor="check">
                            {{item.name}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="mb-4 mt-4">
                <label class="block text-md font-medium text-gray-700">สิทธ์การเข้าใช้ระบบ</label>
                <div class="mt-1 ">
                    <mat-radio-group formControlName="type">
                        <mat-radio-button value="Admin">Admin</mat-radio-button>
                        <mat-radio-button value="Management">Management</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

        </form>
    </div>
    <div mat-dialog-actions class="flex justify-center mt-4"> <button mat-button class="px-4 py-2 bg-gray-50 text-gray-600 rounded hover:bg-gray-400 border-2 border-gray-500" mx-3 (click)="onCancelClick()">ยกเลิก</button> &nbsp;
        <button mat-button class="px-4 py-2 mx-3 bg-[#0a1c3a] text-white rounded hover:bg-gray-600 ml-2" (click)="onSaveClick()">บันทึก</button>
    </div>
</div>