<div class="md:max-w-lg mx-auto">
    <h1 mat-dialog-title class="text-xl font-semibold mb-4">รายละเอียดโพสต์</h1>
    <div mat-dialog-content>
        <html lang="th">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Product Display</title>
            <script src="https://cdn.tailwindcss.com"></script>
        </head>
        <body class="bg-gray-100 flex items-center justify-center min-h-100">
          <div class="max-w-sm w-full bg-white rounded-lg shadow-lg p-6 border border-gray-200 overflow-auto">
              <button class="absolute top-2 right-5 text-gray-500 hover:text-red-400 text-5xl" (click)="cancelclick()">&times;</button>
              <div class="w-full h-80 overflow-y-scroll border rounded-lg">
                <img src="{{image}}" alt="สินค้า" class="w-full h-auto object-cover " (click)="openImageInNewWindow(image)">
            </div>       
              <div class="text-xl mt-4 space-y-2">
                  <p class="text-gray-500 text-sm">รายละเอียด: <span class="text-gray-700">{{itemData.detail}}</span></p>
                  <p class="text-gray-500 text-sm">หมวดหมู่: <span class="text-gray-700">{{itemData.category}}</span></p>
                  <p class="text-gray-500 text-sm">tag สินค้า: <span class="text-gray-700">{{itemData.tag}}</span></p>
                  <p class="text-gray-500 text-sm">ราคา: <span class="text-gray-700">{{itemData.price}}</span></p>
                  <div *ngIf="itemData.status == 'wait'">
                    <p class="text-gray-500 text-sm">สถานะ: <span class="text-yellow-500 font-semibold">รอการอนุมัติ</span></p>
                  </div>
                  <div *ngIf="itemData.status == 'ok'">
                    <p class="text-gray-500 text-sm">สถานะ: <span class="text-green-500 font-semibold">ผ่านการอนุมัติ</span></p>
                  </div>
                  <p class="text-gray-500 text-sm">สร้างโดย: <span class="text-gray-700">{{itemData.user.name}}</span></p>
              </div>
          </div>
      </body>
        </html>
        
    </div>
    <div *ngIf="itemData.status == 'wait'">
      <div mat-dialog-actions class="flex justify-end mt-4">
        <button mat-button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 ml-2"
        (click)="onSaveClick()">อนุมัติ</button>
        &nbsp;
        <button mat-button class="px-4 py-2 bg-gray-300 text-gray-600 rounded hover:bg-gray-400"
          (click)="onCancelClick()">ไม่อนุมัติ</button>
      </div>
    </div>
    <div *ngIf="itemData.status == 'ok'">
      <div mat-dialog-actions class="flex justify-end mt-4">
        <button mat-button class="px-4 py-2 bg-red-500 text-gray-900 rounded hover:bg-red-400"
          (click)="onCancelClick()">ลบ</button>
      </div>
    </div>
  </div>