<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-5  bg-white ">
        <div class="flex justify-between">
            <div class="m-5 mb-5 text-xl font-extrabold tracking-tight">สินค้าที่รอตรวจสอบ</div>

            <!-- <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 justify-center">
                <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-dense min-w-56 px-2 items-center mt-5">
                    <mat-select [formControl]="status">
                        <mat-option [value]="''">
                            เลือกสถานะ
                        </mat-option>
                        <mat-option [value]="'active'">
                            Active
                        </mat-option>
                        <mat-option [value]="'inactive'">
                            Inactive
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="ml-4 w-full mr-5 rounded-md bg-[#0a1c3a] text-white" mat-flat-button (click)="new()">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">เพิ่มข่าวสาร</span>
                </button>
            </div> -->
        </div>

        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full">
                <thead class="whitespace-nowrap">
                    <tr class="text-center bg-black mt-10 text-white">
                        <th class="border-bottom-0 w-10">ลำดับ</th>
                        <th class="border-bottom-0 w-30">ชื่อสินค้า</th>
                        <th class="border-bottom-0 w-20">ประเภท</th>
                        <th class="border-bottom-0 w-20">หมวดหมู่</th>
                        <th class="border-bottom-0 w-20">จำนวน</th>
                        <th class="border-bottom-0 w-20">ราคา</th>
                        <th class="border-bottom-0 w-20">วันสิ้นสุด</th>
                        <th class="border-bottom-0 w-20">จัดการ</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow?.length != 0" class="whitespace-nowrap">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td>{{item.No}}</td>
                        <td> {{item.product_name}}</td>
                        <td>{{item.item_type}}</td>
                        <td>{{item.item_category}}</td>
                        <td>{{item.product_qty}}</td>
                        <td>{{item.product_price}}</td>
                        <td>{{item.date_exp}}</td>
                        <td>
                            <!-- <button mat-icon-button color="accent" (click)="edit(item.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" (click)="delete(item.id)">
                                <mat-icon>delete</mat-icon>
                            </button> -->
                            
                                <button class="border-2 border-green-200 w-full rounded-md p-2 font-black hover:bg-slate-50" (click)="editDialog(item)">
                                    <span class="ml-2 mr-1">ตรวจสอบ</span>
                                </button>
                            
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="5" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
