<div class=" sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden dark:bg-transparent">

    <div class="bg-card m-5 p-5 rounded-lg">
        <div class="flex justify-between">
            <div class="text-xl font-extrabold tracking-tight sm:ml-4">Tag ทั้งหมด</div>
            <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                <button class="ml-4 w-full rounded-md bg-[#0a1c3a] text-white" mat-flat-button (click)="addDialog()">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">เพิ่ม Tag</span>
                </button>
            </div>
        </div>
        <div class="flex flex-auto overflow-auto rounded-lg sm:rounded-lg mt-5">
            <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
                <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full">
                    <thead>
                        <tr class="text-center bg-black mt-10 text-white">
                            <th class="border-bottom-0 w-10">ลำดับ</th>
                            <th class="border-bottom-0 w-60">ชื่อ Tag</th>
                            <th class="border-bottom-0 w-60">หมวดหมู่</th>
                            <th class="border-bottom-0 w-10">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody class="whitespace-nowrap">
                        <tr *ngFor="let item of dataRow; let i = index">
                            <td>{{i}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.category_name}}</td>
                            
                            <!-- <td class=" space-x-8">
                                <button class="w-20 bg-green-500 text-white font-bold py-2 px-4 rounded-lg shadow-md hover:bg-green-600 transition duration-200" 
                                    (click)="editDialog(item)">
                                    <span class="ml-1">แก้ไข</span>
                                </button>
                                <button class="p-1 bg-red-500 text-white rounded-full shadow-md hover:bg-red-600 transition duration-200" 
                                    (click)="delete(item.id)">
                                    <mat-icon class="text-white ">delete</mat-icon>
                                </button>
                            </td> -->

                            <td style="white-space: nowrap;" class="text-center">
                                <button mat-icon-button color="accent" (click)="editDialog(item)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="accent" (click)="delete(item.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
    
                                
                            </td>
                            
                        </tr>
                    </tbody>
                    <tbody *ngIf="dataRow?.length == 0">
                        <tr>
                            <td colspan="13" class="no-data-available text-center">
                                ไม่มีข้อมูล !
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>