<div class="md:max-w-lg mx-auto">
    <h1 class="text-xl font-semibold mb-4">เพิ่มรายชื่อผู้ใช้งานระบบ</h1>
    <div>
        <form [formGroup]="addForm">
            <!-- <div class="mb-4">
          <label for="no" class="block text-sm font-medium text-gray-700">No.</label>
          <input type="text" id="no" class="mt-1 form-input rounded-md shadow-sm block w-full" formControlName="no" placeholder="No.">
        </div> -->
            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-full px-3">
                    <label class="block text-md font-medium text-gray-700">ชื่อ - นามสกุล</label>
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-full px-3">
                    <label class="block text-md font-medium text-gray-700">เบอร์ติดต่อ</label>
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-full px-3">
                    <label class="block text-md font-medium text-gray-700">อีเมล</label>
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-full px-3">
                    <label class="block text-md font-medium text-gray-700">Password</label>
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <input matInput type="password">
                    </mat-form-field>
                </div>
            </div>
            <div class="-mx-3 md:flex flex-col mb-6">
                <div class="ml-3">
                    <label class="block text-md font-medium text-gray-700">Password</label>
                </div>
                <div class="grid grid-cols-3 gap-4">
                    <mat-checkbox class="my-1" [color]="'primary'">
                        สำนักงานใหญ่
                    </mat-checkbox>
                    <mat-checkbox class="my-1" [color]="'primary'" [checked]="true">
                        โรงงานสระบุรี
                    </mat-checkbox>
                    <mat-checkbox class="my-1" [color]="'primary'">
                        โรงงานลพบุรี
                    </mat-checkbox>
                    <mat-checkbox class="my-1" [color]="'primary'" [checked]="true">
                        โรงงานเพชรบูรณ์
                    </mat-checkbox>
                    <mat-checkbox class="my-1" [color]="'primary'">
                        โรงงานกาญจนบุรี
                    </mat-checkbox>
                </div>
            </div>
            <div class="-mx-3 md:flex flex-col mb-6">
                <div class="ml-3">
                    <label class="block text-md font-medium text-gray-700">สิทธิ์การเข้าใช้งาน</label>
                </div>
                <div class="grid grid-cols-3 gap-4">
                    <mat-checkbox class="my-1" [color]="'primary'">
                        Admin
                    </mat-checkbox>
                    <mat-checkbox class="my-1" [color]="'primary'" [checked]="true">
                        Management
                    </mat-checkbox>
                </div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="flex justify-center md-4">
        <button mat-button class="px-4 py-2 bg-gray-300 text-gray-600 rounded-md hover:bg-gray-400" (click)="onCancelClick()">ยกเลิก</button>
        <button mat-button class="px-4 py-2 bg-gray-500 text-white rounded-md hover:bg-gray-600 ml-2" (click)="Submit()">บันทึก</button> &nbsp;
    </div>
</div>