<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->

    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    รายการสิทธิ์
                </h2>
                <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="nextpage()">
                        <mat-icon>person_add</mat-icon>
                        &nbsp;
                        เพิ่มสิทธิ์
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-10  bg-white">
        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full bg-white whitespace-nowrap">
                <thead>
                    <tr>
                        <th class="w-[100px]">จัดการ</th>
                        <th class="w-[10px]">ลำดับ</th>
                        <th>ชื่อสิทธิ์</th>
                        <th>สร้างโดย</th>
                        <th>วันที่สร้าง</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(item)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" (click)="deleteElement(item)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                        <td>{{ pages.begin + (i + 1) }}</td>
                        <td>{{ item.name ? item.name : "-"}}</td>
                        <td>{{ item.create_by ? item.create_by : "-" }}</td>
                        <td>{{ item.created_at !== null ? item.created_at: "-"}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>