<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate" *ngIf="!this.Id">
                    เพิ่ม PDPA
                </h2>
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate" *ngIf="this.Id">
                    แก้ไข PDPA
                </h2>
            </div>
        </div>
    </div>
    <!-- Main -->
    <form [formGroup]="addForm">
        <div class="flex-auto p-6 sm:p-10">
            <div class="grid gap-4 w-full sm:grid-cols-1 md:grid-cols-1">
                <div class="bg-card rounded-2xl md:shadow overflow-hidden px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>หัวข้อ PDPA</mat-label>
                                <input matInput [placeholder]="'กรอกหัวข้อ'" [formControlName]="'title'">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-2">
                        <div class="md:min-w-full px-3 mb-6 md:mb-0">
                            <!-- <mat-form-field class="w-full">
                                <mat-label>รายละเอียดข่าวสาร</mat-label>
                                <textarea matInput [placeholder]="'กรอกรายละเอียด'" [rows]="5" formControlName="detail"></textarea>


                            </mat-form-field> -->
                            <quill-editor formControlName="detail"></quill-editor>

                        </div>
                    </div>
                  
                    <div class="mb-4 mt-4">
                        <label class=" block text-sm font-medium text-gray-700  pl-4">สถานะ</label>
                        <div class="mt-1 ">
                            <mat-radio-group formControlName="status">
                                <mat-radio-button value="Y">เปิดการใช้งาน</mat-radio-button>
                                <mat-radio-button value="N">ยังไม้เปิดการใช้งาน</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div mat-dialog-actions class="flex justify-start md-4">
                        <button mat-button class="px-4 py-2 bg-gray-300 text-gray-600 rounded-md hover:bg-gray-400" (click)="backTo()">ยกเลิก</button>
                        <button mat-button class="px-4 py-2 bg-[#0a1c3a] text-white rounded-md hover:bg-gray-600 ml-2" (click)="Submit()">บันทึก</button> &nbsp;
                    </div>
                </div>
            </div>
            <div class="grid gap-4 w-full sm:grid-cols-1 md:grid-cols-1" *ngIf="this.Id">
                <div class="bg-card rounded-2xl md:shadow overflow-hidden px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                           <label for="รายการผุู้กดยอมรับ">รายการผุู้กดยอมรับ</label>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-2">
                        <div class="md:min-w-full px-3 mb-6 md:mb-0">
                            <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
                                <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full">
                                    <thead>
                                        <tr class="text-center bg-slate-50 mt-10">
                                            <th class="border-bottom-0 w-20">ลำดับ</th>
                                            <th class="border-bottom-0 w-20">รหัสโคสต้า</th>
                                            <th class="border-bottom-0 w-150">ชื่อเกษตรกร</th>
                                            <th class="border-bottom-0 w-50">วันที่ยอมรับ</th>
                                            <th class="border-bottom-0 w-20">จัดการ</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="dataRow?.length != 0">
                                        <tr *ngFor="let item of dataRow; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{item.quota_id}}</td>
                                            <td>{{item.frammer?.name ?? "-"}}</td>
                                            <td>
                                                {{item.created_at | date : 'dd/MM/yyyy hh:mm aa'}}
                                            </td>
                                            <td>
                                                <button mat-icon-button color="accent" (click)="edit(item.id)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="dataRow?.length == 0">
                                        <tr>
                                            <td colspan="5" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
     
    </form>

</div>