<div class="md:max-w-lg mx-auto">
    <!-- {{this.addForm.value | json}} -->
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="!this.data">เพิ่ม Tag</h1>
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="this.data">แก้ไข Tag</h1>
    <div mat-dialog-content>
        <form [formGroup]="addForm">
            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-full px-3">
                    <!-- <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>หมวดหมู่</mat-label>
                        <input matInput [placeholder]="'กรอก ชื่อ Tag'" [formControlName]="'category_id'">
                    </mat-form-field> -->
                    <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-xs:pr-3 w-full p-2">
                        <mat-label>หมวดหมู่</mat-label>
                        <mat-select formControlName="category_id" >
                            <mat-option value="">กรุณาเลือกหมวดหมู่</mat-option>
                            <ng-container *ngFor="let project of category">
                                <mat-option [value]="project.id">{{ project.category_name }}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-full px-3">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>Tag</mat-label>
                        <input matInput [placeholder]="'กรอก ชื่อ Tag'" [formControlName]="'name'">
                    </mat-form-field>
                </div>
            </div>



        </form>
    </div>
    <div mat-dialog-actions class="flex justify-center mt-4"> 
        <button mat-button
            class="px-4 py-2 bg-gray-50 text-gray-600 rounded hover:bg-gray-400 border-2 border-gray-500" mx-3
            (click)="onCancelClick()">ยกเลิก</button>
        &nbsp;
        <button *ngIf="!this.data" mat-button class="px-4 py-2 mx-3 bg-[#0a1c3a] text-white rounded hover:bg-gray-600 ml-2"
            (click)="Submit()">บันทึก</button>
        <button *ngIf="this.data" mat-button class="px-4 py-2 mx-3 bg-[#0a1c3a] text-white rounded hover:bg-gray-600 ml-2"
            (click)="update()">บันทึก</button>
    </div>
</div>