<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    
    <!-- Main -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-5  bg-white ">
        <div class="flex justify-between">
            <div class="m-5 mb-5 text-xl font-extrabold tracking-tight">admin</div>

            <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 justify-center">
                <div *ngIf="role != 'null'" class="fuse-mat-dense min-w-56 px-2 items-center ">
                    <button class="ml-4 w-full mr-5 rounded-md bg-[#0a1c3a] text-white" mat-flat-button (click)="editElement()">
                        <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                        <span class="ml-2 mr-1">แก้ไขข้อมูล</span>
                    </button>
                </div>
                <div *ngIf="role != 'null' " class="mr-10 ">
                    <button class="ml-4 w-full mr-5 rounded-md bg-[#0a1c3a] text-white" mat-flat-button (click)="addElement()">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 mr-1">เพิ่ม admin</span>
                    </button>
                </div>
                <div *ngIf="role == 'null'" class="mr-10 ">
                    <button class="ml-4 w-full mr-5 rounded-md bg-[#0a1c3a] text-white" mat-flat-button (click)="editElement()">
                        <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                        <span class="ml-2 mr-1">แก้ไขข้อมูล</span>
                    </button>
                    
                </div>
            </div>
        </div>

        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full">
                <thead class="whitespace-nowrap">
                    <tr class="text-center bg-black mt-10 text-white">
                        <th class="border-bottom-0 w-20">ลำดับ</th>
                        <th class="border-bottom-0 w-150">ชื่อ</th>
                        <th class="border-bottom-0 w-30"  *ngIf="role != 'null'">จัดการ</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow?.length != 0" class="whitespace-nowrap">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td>{{i}}
                        </td>
                        <td>{{item.name}}
                        </td>
                        <td *ngIf="role != 'null'">
                            <!-- <button mat-icon-button color="accent" (click)="edit(item.id)">
                                <mat-icon>edit</mat-icon>
                            </button> -->
                            <button mat-icon-button color="accent" (click)="delete(item.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="5" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
