<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-5 sm:py-6 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
       
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-black-500">เกษตรกร</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">/
                    <a class="ml-1 text-black-500">รายชื่อเกษตรกร</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-5  bg-white ">
        <div class="m-5 flex justify-between border-b-2">
            <div class="mb-5 text-xl font-extrabold tracking-tight">รายชื่อเกษตรกร</div>
        </div>
        <div class="mx-5 mt-5 flex justify-between">
            <div class="text-xl font-extrabold tracking-tight w-full md:w-1/4 ">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                    <mat-select [formControl]="data" value>
                        <mat-option [value]="'1'">
                            เลือกจังหวัด
                        </mat-option>
                        <mat-option *ngFor="let item of this.province;" [value]="item.name">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full">
                <thead>
                    <tr class="bg-gray-50">
                        <th class="border-bottom-0 w-50">เลขบัตรประชาชน</th>
                        <th class="border-bottom-0 w-50">ชื่อเกษตรกร</th>
                        <th class="border-bottom-0 w-50">เลขที่โควต้า</th>
                        <th class="border-bottom-0 w-50">เบอร์ติดต่อ</th>
                        <th class="border-bottom-0 w-50">จังหวัด</th>
                        <th class="border-bottom-0 w-50">เขต</th>
                        <th class="border-bottom-0 w-50">พื้นที่ (ไร่)</th>
                        <th class="border-bottom-0 w-50">จำนวนแปลง</th>
                        <th class="border-bottom-0 w-50"></th>
                    </tr>
                </thead>
                <!-- <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td>{{item.id_card_number ?? '-'}}</td>
                        <td>{{item.First_name ?? '-'}} {{item.Last_name ?? '-'}}</td>
                        <td>{{item.Quota_id ?? '-'}}</td>
                        <td>{{item.phone_number ?? '-'}}</td>
                        <td>{{item.factory_id ?? '-'}}</td>
                        <td>{{item.area ?? '-'}}</td>
                        <td>{{item.area_total ?? '-'}}</td>
                        <td>{{item.station_total ?? '-'}}</td>
                        <td>
                            <button (click)="goToProfile(item.Quota_id)" class="border-2 border-green-200 w-full rounded-md p-2 font-black hover:bg-slate-50">
                                <span class="ml-2 mr-1">รายละเอียด</span>
                            </button>

                        </td>
                    </tr>
                </tbody> -->
                <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td>{{item.idcard ?? '-'}}</td>
                        <td>{{item.name ?? '-'}}</td>
                        <td>{{item.qouta ?? '-'}}</td>
                        <td>{{item.phone ?? '-'}}</td>
                        <td>{{item.province_code ?? '-'}}</td>
                        <td>{{item.country_code ?? '-'}}</td>
                        <td>{{item.area ?? '-'}}</td>
                        <td>{{item.count_area ?? '-'}}</td>
                        <td>
                            <button (click)="goToProfile(item.qouta)" class="border-2 border-green-200 w-full rounded-md p-2 font-black hover:bg-slate-50">
                                <span class="ml-2 mr-1">รายละเอียด</span>
                            </button>

                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>