<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    สิทธิ์เข้าถึงเมนูใช้งาน
                </h2>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <form
            class="flex flex-col mt-3 p-8 pb-4 bg-card dark:bg-transparent shadow overflow-hidden ng-valid"
            [formGroup]="formData"
        >
            <div class="flex flex-col sm:flex-row p-8">
                <div class="w-full">
                    <div class="flex flex-auto flex-wrap">
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold"
                                    >เลือกผู้ใช้งาน</mat-label
                                >
                                <mat-select
                                    [formControlName]="'user_id'"
                                    (selectionChange)="
                                        onChangeUser($event.value)
                                    "
                                >
                                    <mat-option [value]="''">
                                        <span class="text-gray-400"
                                            >เลือกผู้ใช้งาน</span
                                        >
                                    </mat-option>
                                    <mat-option
                                        *ngFor="let item of UserData"
                                        [value]="item.id"
                                    >
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div
                            class="flex flex-col w-full lg:w-4/4 sm:pl-8 text-left"
                        >
                            <mat-checkbox
                                class="mb-2"
                                [color]="'primary'"
                                (change)="actionChangeAll()"
                                [checked]="true"
                            >
                                เลือกทั้งหมด
                            </mat-checkbox>
                        </div>
                        <form [formGroup]="formData">
                            <div formArrayName="menu">
                                <ng-container
                                    *ngFor="
                                        let item of menu().controls;
                                        let i = index
                                    "
                                    [formGroupName]="i"
                                >
                                    <div
                                        class="flex flex-col w-full lg:w-4/4 sm:pl-8 text-left"
                                    >
                                        <div class="grid grid-cols-3 gap-4">
                                            <div
                                                class="col-span-12 my-4 border-b"
                                            ></div>
                                            <div
                                                class="col-span-12 self-stretch font-bold"
                                            >
                                                {{ i + 1 }}.
                                                {{ item.value.name }}
                                            </div>
                                            <div formArrayName="menus">
                                                <ng-container
                                                    *ngFor="
                                                        let list of getMenus(i)
                                                            .controls;
                                                        let j = index
                                                    "
                                                    [formGroupName]="j"
                                                >
                                                    <div
                                                        class="col-span-4 self-stretch text-left"
                                                    >
                                                        <mat-checkbox
                                                            class="mb-2"
                                                            [color]="'primary'"
                                                            (change)="
                                                                actionChange(
                                                                    $event,
                                                                    i,
                                                                    j
                                                                )
                                                            "
                                                            [checked]="
                                                                list.value
                                                                    .checked
                                                            "
                                                        >
                                                            {{ i + 1 }}.{{
                                                                j + 1
                                                            }}.
                                                            {{
                                                                list.value.name
                                                            }}
                                                        </mat-checkbox>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- button -->
            <div
                class="flex items-center justify-end w-full border-t px-8 py-4"
            >
                <div class="flex items-center justify-end">
                    <a class="ml-4" mat-flat-button (click)="goBack()">
                        <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                        ย้อนกลับ
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
