<div class="md:max-w-lg mx-auto">
  <h1 mat-dialog-title class="text-xl font-semibold mb-4">แก้ไขสถานที่นัดรับ</h1>
  <div mat-dialog-content>
    <form [formGroup]="editForm">

      <div class="-mx-3 md:flex mb-6">
        <div class="md:w-full px-3">
          <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
            <mat-label>สถานที่นัดรับ</mat-label>
            <input matInput [placeholder]="'กรอกสถานที่นัดรับ'" [formControlName]="'name'">
          </mat-form-field>
        </div>
      </div>


    </form>
  </div>
  <div mat-dialog-actions class="flex justify-end mt-4">
    <button mat-button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 ml-2"
    (click)="update()">Save</button>
    &nbsp;
    <button mat-button class="px-4 py-2 bg-gray-300 text-gray-600 rounded hover:bg-gray-400"
      (click)="onCancelClick()">Cancel</button>
  </div>
</div>