<div class="md:max-w-lg mx-auto">
  <h1 mat-dialog-title class="text-xl font-semibold mb-4">แก้ไข admin</h1>
  <div mat-dialog-content>
      <form [formGroup]="editForm">

          <div class="-mx-3 md:flex mb-6">
              <div class="md:w-full px-3">
                  <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                      <mat-label>ชื่อ</mat-label>
                      <input matInput [placeholder]="'กรอกชื่อ'" [formControlName]="'name'">
                  </mat-form-field>
              </div>
          </div>

          <div class="-mx-3 md:flex mb-6">
              <div class="md:w-full px-3">
                  <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                      <mat-label>username</mat-label>
                      <input matInput [placeholder]="'กรอก username'" [formControlName]="'username'">
                  </mat-form-field>
              </div>
          </div>

          <div class="-mx-3 md:flex mb-6">
              <div class="md:w-full px-3">
                  <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                      <mat-label>password</mat-label>
                      <input matInput [placeholder]="'กรอก password'" [formControlName]="'password'">
                  </mat-form-field>
              </div>
          </div>

         
      </form>
  </div>
  <div mat-dialog-actions class="flex justify-center md-4">
      <button mat-button class="px-4 py-2 bg-gray-300 text-gray-600 rounded-md hover:bg-gray-400" (click)="onCancelClick()">ยกเลิก</button>
      <button mat-button class="px-4 py-2 bg-[#0a1c3a] text-white hover:bg-gray-600 ml-2 rounded-md" (click)="update()">บันทึก</button> &nbsp;
  </div>
</div>