<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    แก้ไขข้อมูลพระสงฆ์
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <form class="flex flex-col mt-3 p-8 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">
            <div class="flex">
                <div class="w-1/3">
                    <div class="flex justify-center items-center w-full">
                        <div class="bg-indigo-300 ...">
                            <label>
                                <input (change)='onChange($event)' type="file" id="file" style="cursor: pointer;">
                                <img class="img" [src]="url">
                            </label>
                        </div>
                    </div>
                    &nbsp;
                    <div class="flex justify-center items-center w-full">
                        <div class="flex flex-col w-full lg:w-4/4">
                            <mat-form-field class="w-full pr-2">
                                <mat-label>Line Token</mat-label>
                                <input matInput [formControlName]="'line_token'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div class="flex flex-auto flex-wrap">
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <div class="flex p-5">
                                <mat-form-field class="w-4/12 pr-2">
                                    <mat-label>ชื่อพระสงฆ์</mat-label>
                                    <input matInput [formControlName]="'name'">
                                </mat-form-field>
                                <mat-form-field class="w-4/12 pr-2">
                                    <mat-label>ฝ่าย</mat-label>
                                    <mat-select [formControlName]="'department_id'">
                                        <mat-option *ngFor="let role of departmentData" [value]="role.id">
                                            {{role.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="w-4/12 pr-2">
                                    <mat-label>ตำแหน่ง</mat-label>
                                    <mat-select [formControlName]="'position_id'">
                                        <mat-option *ngFor="let role of positionData" [value]="role.id">
                                            {{role.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="flex p-5">
                                <mat-form-field class="w-4/12 pr-2">
                                    <mat-label>อีเมล</mat-label>
                                    <input matInput [formControlName]="'email'">
                                </mat-form-field>
                                <mat-form-field class="w-4/12 pr-2">
                                    <mat-label>เบอร์ติดต่อ</mat-label>
                                    <input matInput [formControlName]="'phone'">
                                </mat-form-field>
                                <mat-form-field class="w-4/12 pr-2">
                                    <mat-label>พรรษา</mat-label>
                                    <input matInput [formControlName]="'monk_age'">
                                </mat-form-field>
                            </div>
                            <!-- <div class="flex p-5">
                                <mat-form-field class="w-4/12 pr-2">
                                    <mat-label>Line Token</mat-label>
                                    <input matInput [formControlName]="'line_token'">
                                </mat-form-field>
                            </div> -->
                            <div class="flex p-5 w-full">
                                <mat-form-field class="w-full">
                                    <mat-label>รายละเอียด</mat-label>
                                    <textarea matInput rows="4" [formControlName]="'skill'"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <div class="flex items-center justify-end w-full border-t px-8 py-4">
            <div class="flex items-center justify-end">
                <a class="ml-4" mat-flat-button href="monk/list">
                    <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                    ย้อนกลับ
                </a>
                <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="updateItem()">
                    <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                    ยืนยัน
                </button>
            </div>
        </div>
        <pre>
        </pre>
    </div>
</div>