#file {
          display: none;

}

.img {
          display: flex;
          width: 300px;
          height: 300px;
          align-items: center !important;
          background: #fff !important;
          color: #717386 !important;
          border: 2px solid #717386 !important;
          border-radius: 5px !important;
          font-size: 16px !important;
          overflow-x: auto !important;
          cursor: pointer;
}